/*
===============================
BASE STYLES
===============================
*/

html, body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 17px;
}
body {
  margin: 0;
  padding: 0;
}
div, p, ul, li, section, input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}
p {
  margin: 0;
}
a,
a:visited {
  text-decoration: none;
  color: orange;
}
input,
textarea {
  background: rgba(255,255,255,0.7);
  -webkit-transition: background 0.1s ease-in;
  -moz-transition: background 0.1s ease-in;
   transition: background 0.1s ease-in;
},
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}


/*
===============================
NAV
===============================
*/

.nav-wrapper {
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 5;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
   transform: translateZ(1px);
}
.nav {
  color: #fff;
  text-align: center;
  -webkit-transition: background 0.15s ease-in;
  -moz-transition: background 0.15s ease-in;
   transition: background 0.15s ease-in;
}
.nav-links {
  display: inline-block;
  list-style: none;
  margin: 0 0 -4px 0;
  padding: 0 1rem;
}
.nav-links::after {
  content: '';
  display: table;
  clear: both;
}
.nav-links .nav-item {
  float: left;
  padding: 1rem 1.5rem;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  -webkit-transition: border 0.3s ease-in;
  -moz-transition: border 0.3s ease-in;
   transition: border 0.3s ease-in;
}
.nav-links .nav-item.active {
  border-bottom-color: #DBA818;
}
.nav-links .hidden-logo {
  display: none;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 0 0.35rem 0;
  margin: 0 3rem;
}
.nav-wrapper.visible {
  padding: 0;
}
.visible .nav {
  background: rgba(0,0,0,0.85);
}
.visible .nav-links .hidden-logo {
  display: block;
  width: 10rem;
}
.visible .nav-links .hidden-logo img {
  position: relative;
  top: 0.15em;
  width: 100%;
  -webkit-transform: translateX(6%);
  -moz-transform: translateX(6%);
   transform: translateX(6%);
}
.nav-links:last-child {
  margin-right: 0;
}
.nav-links a {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.hidden-cta {
  opacity: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  z-index: 4;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
   transform: translateZ(1px);
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
   transition: opacity 0.3s ease-in;
}
.hidden-cta.visible {
  opacity: 1;
}
.hidden-cta a {
  position: relative;
  display: inline-block;
  color: #fff;
  background: #DBA818;
  padding: 0.5em 1em;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  z-index: 1;
}
.hidden-cta .background-gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(0,0,0,0.85);
}


/*
===============================
SECTION LAYOUT/SETUP
===============================
*/

section .splash {
  position: relative;
  width: 100%;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 120%;
}
.imageHolder .splash-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
   transform: translateZ(1px);
}
.diamond-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('../img/diamond6.png') center center;
  background-size: 120px 200px;
  z-index: 1;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
   transform: translateZ(1px);
}
.imageHolder:nth-child(4) .diamond-overlay {
  opacity: 0.15;
}
.imageHolder:nth-child(3) .diamond-overlay,
.imageHolder:nth-child(2) .diamond-overlay,
.imageHolder:nth-child(1) .diamond-overlay {
  opacity: 0.2;
}
.image-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  z-index: 0;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
   transform: translateZ(1px);
}
.imageHolder:nth-child(3) .image-mask,
.imageHolder:nth-child(2) .image-mask,
.imageHolder:nth-child(1) .image-mask {
  background: rgba(0,0,0,0.35);
}
.imageHolder .gradient-overlay {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0.5;
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.imageHolder .gradient-overlay.top {
  top: 0;
  height: 14rem;
}
.imageHolder .gradient-overlay.bottom {
  bottom: 0;
  height: 19rem;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
   transform: rotate(180deg);
}
section .section-content {
  position: relative;
  padding: 3rem;
  min-height: 18rem;
}
section .section-body::after {
  content: '';
  display: table;
  clear: both;
}
.section-header-wrapper {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  text-align: center;
  z-index: 2;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
   transform: translateZ(1px);
}
.section-header-inner,
.section-header {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
   border-radius: 50%;
}
.section-header-inner {
  display: inline-block;
  position: relative;
  width: 14rem;
  height: 14rem;
  background: #DBA818;
  border: 1px solid #F5D884;
}
.section-header {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  line-height: 13rem;
  background: #DBA818;
  border: 1px solid #F5D884;
}
.section-header h2 {
  margin: 0;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.flourish {
  position: absolute;
  left: 50%;
  width: 5rem;
  line-height: normal;
  opacity: 0.6;
}
.flourish img {
  width: 100%;
}
.flourish.top {
  top: 0.75rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
   transform: translateX(-50%);
}
.flourish.bottom {
  bottom: 0.75rem;
  -webkit-transform: rotate(180deg) translateX(50%);
  -moz-transform: rotate(180deg) translateX(50%);
   transform: rotate(180deg) translateX(50%);
}

.section-body {
  max-width: 60rem;
  margin: 0 auto;
}


/*
===============================
INDIVIDUAL SECTIONS
===============================
*/

/*
-------------------------------
INTRO
-------------------------------
*/

.tagline {
  position: absolute;
  top: 15rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  padding: 4rem;
  font-weight: bold;
  z-index: 2;
  -webkit-transform: translateY(-50%) translateZ(1px);
  -moz-transform: translateY(-50%) translateZ(1px);
   transform: translateY(-50%) translateZ(1px);
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
   transition: opacity 0.3s ease-in;
}
.tagline .logo {
  max-width: 80%;
  margin: 0 auto;
}
.tagline .logo img {
  width: 100%;
  -webkit-transform: translateX(-2.5%);
  -moz-transform: translateX(-2.5%);
   transform: translateX(-2.5%);
}
.tagline.hidden {
  opacity: 0;
}
.tagline.small {
  top: 6.5rem;
  font-size: 2rem;
}
.tagline.small .logo {
  max-width: 20%;
}

.form-wrapper {
  position: absolute;
  color: #fff;
  width: 100%;
  bottom: 6rem;
  padding: 0 4rem;
  z-index: 2;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
   transform: translateZ(1px);
}
.form {
  font-size: 0.9rem;
  position: relative;
  max-width: 60%;
  margin: 0 auto;
  padding: 1.5rem;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
   transition: background 0.3s ease-in;
}
.form.open {
  background: rgba(0,0,0,0.5);
}
.form.open input,
.form.open textarea {
  background: #fff;
}
.form h2 {
  text-align: center;
  margin: 0 0 1.25rem;
  line-height: 1em;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.close {
  display: none;
  position: absolute;
  width: 100%;
  height: 2rem;
  top: -1.5rem;
  left: 0;
  text-align: center;
}
a.close-inner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: #fff;
  background: #DBA818;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
   border-radius: 50%;
}
.close-inner .icon {
  position: relative;
  top: 0.55em;
}
.close-inner:hover {
  cursor: pointer;
}
.submit {
  margin-top: 1rem;
  text-align: center;
}
.submit-inner {
  display: inline-block;
  background: #DBA818;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.submit a {
  color: #fff;
}
.form .hidden-fields {
  display: none;
  margin-top: 1rem;
}
.form input,
.form textarea {
  width: 100%;
  border: none;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  -webkit-box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
   box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.form-row {
  margin-bottom: 1rem;
}
.form-row:last-child {
  margin-bottom: 0;
}
.form-row::after {
  content: '';
  display: table;
  clear: both;
}
.field {
  float: left;
}
.label {
  display: block;
  font-size: 0.95em;
  margin-bottom: 0.25rem;
  color: #fff;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
   transition: color 0.3s ease-in;
}
.form.open .label {
  color: #aaa;
}
.form-row.full .field {
  width: 100%;
}
.form-row.two-up .field {
  width: 47.5%;
}
.form-row.two-up .field:nth-child(1) {
  margin-right: 5%;
}
.form-row.two-up.alt .field:nth-child(1) {
  width: 35%;
}
.form-row.two-up.alt .field:nth-child(2) {
  width: 60%;
}
.form-row.three-up .field {
  width: 30%;
}
.form-row.three-up .field:nth-child(1),
.form-row.three-up .field:nth-child(2) {
  margin-right: 5%;
}
.asterisk {
  color: #DBA818;
  font-weight: bold;
  font-size: 1.25em;
}

.prompt-wrapper {
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  text-align: center;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
   transform: translateZ(1px);
  z-index: 3;
}
.prompt-inner {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 3.75rem;
  background: #DBA818;
  border: 1px solid #F5D884;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
   border-radius: 50%;
}
.prompt-inset-border {
  position: absolute;
  top: 0.25rem;
  bottom: 0.25rem;
  right: 0.25rem;
  left: 0.25rem;
  border: 1px solid #F5D884;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
   border-radius: 50%;
}
.prompt-text {
  position: relative;
  top: 0.6em;
  font-size: 1.75em;
  color: #fff;
  z-index: 1;
}
.prompt-text .arrow,
.prompt-text .arrow i {
  line-height: 0.5rem;
}
.prompt-text .dot {
  font-size: 0.25rem;
}


/*
-------------------------------
ABOUT
-------------------------------
*/

#two .section-body {
  display: table;
  width: 100%;
}
#two .left-column,
#two .right-column {
  display: table-cell;
  vertical-align: top;
}
#two .left-column {
  width: 18rem;
}
#two .right-column {
  padding-left: 3rem;
  padding-top: 1rem;
}

.intro-photo {
  position: relative;
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
   border-radius: 50%;
}
.intro-photo img {
  width: 100%;
}
.photo-inset-border {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  left: 0.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
   border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.75);
}
p {
  margin-bottom: 1.5rem;
  line-height: 1.5em;
  color: #333;
}
.lead-in {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25em;
  color: #000;
}


/*
-------------------------------
THE SPACE
-------------------------------
*/

#three .left-column {
  width: 45%;
  float: left;
}
#three .right-column {
  width: 55%;
  float: right;
}
#three .left-column {
}
#three .right-column {
  padding-left: 5%;
}
#three .right-column::after {
  content: '';
  display: table;
  clear: both;
}

#three h3 {
  margin: 0 0 0.5rem 0;
}
#three h3 .asterisk {
  margin-left: 0.15em;
  font-size: 0.85em;
  position: relative;
  top: -0.15em;
}
.asterisk-content {
  text-align: center;
  font-size: 0.9em;
  margin-top: 2rem;
}
.asterisk-content p {
  margin-bottom: 0;
}
.asterisk-content .asterisk-text {
  color: #888;
}


.left-sub-column,
.right-sub-column {
  float: left;
  width: 50%;
}
.left-sub-column {
  padding-left: 0.5rem;
}
.right-sub-column {
  padding-right: 0.5rem;
}

.copy ul {
  padding: 0 0 0 1em;
  margin: 0;
}
.copy li {
  margin-bottom: 0.5em;
  font-size: 0.9em;
  color: #444;
}

#three .section-content .flourish,
#five .section-content .flourish {
  width: 100%;
  display: block;
  position: relative;
  left: 0;
}
.flourish-inner {
  max-width: 500px;
  margin: 0 auto;
  padding: 3rem 0 2rem 0;
  opacity: 0.3;
}

.copy {
  display: table;
  width: 100%;
}

.floor-plan {
  max-width: 800px;
  margin: 0 auto;
}
.floor-plan p {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

.floor-plan img {
  width: 100%;
}


/*
-------------------------------
GALLERY
-------------------------------
*/

.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
}
.gallery::after {
  content: '';
  display: table;
  clear: both;
}
.gallery li {
  float: left;
  width: 20%;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-size: 120%;
  background-position: center top;
}


/*
-------------------------------
CONTACT
-------------------------------
*/

.contact-info {
  position: relative;
  display: table;
  min-height: 15rem;
}
.contact-info::after {
  content: '';
  display: table;
  clear: both;
}

.contact-info .left-column,
.contact-info .right-column,
.contact-info .center-column {
  text-align: center;
}

.contact-info .left-column,
.contact-info .right-column {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.contact-info .left-column {
  padding-right: 6rem;
}
.contact-info .right-column {
  padding-left: 6rem;
}
.contact-info .center-column {
  position: absolute;
  left: 50%;
  width: 16rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
   transform: translateX(-50%);
}
.contact-info .intro-photo {
  width: 16rem;
  height: 16rem;
}

.contact-info h4 {
  font-size: 1.65em;
  margin: 0;
}
.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85em;
  letter-spacing: 0.04em;
  color: #888;
  margin-bottom: 1rem;
}
.phone {
  font-size: 1.25em;
  margin-bottom: 0.25em;
}
.ask-button {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
}
.ask-button a {
  display: inline-block;
  font-size: 1.1em;
  padding: 0.5rem 0.75rem;
  background: #DBA818;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#five .flourish-inner {
  padding-bottom: 1.5rem;
}
#five .flourish.directions .flourish-inner {
  padding-top: 3.5rem;
}
#five .flourish.parking .flourish-inner {
  padding-top: 2.25rem;
}

#five h3.section-subhead {
  margin: 0 0 2.25rem 0;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.02em;
}

#five h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}
#five h4 {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

#five ul {
  padding-left: 1.25em;
  margin: 0;
}
#five li {
  margin-bottom: 0.75em;
  color: #444;
  font-size: 0.9em;
}

/*
-------------------------------
DIRECTIONS/PARKING
-------------------------------
*/

.directions-columns,
.parking-columns {
  display: table;
  width: 100%;
}
.map,
.directions-text {
  display: table-cell;
  vertical-align: top;
}
.directions-text {
  padding-left: 3rem;
}
.directions-text::after {
  content: '';
  display: table;
  clear: both;
}
.directions-1,
.directions-2 {
  float: left;
  width: 47.5%;
}
.directions-1 {
  margin-right: 5%;
}
.map {
  width: 20rem;
}
.map iframe {
  width: 20rem;
  height: 20rem;
}

.parking p {
  color: #444;
  font-size: 0.9em;
  margin-bottom: 0.75rem;
}
.parking .photo-container {
  text-align: center;
}
.parking .intro-photo {
  display: inline-block;
  margin-top: 1.5rem;
}
.parking-columns .left-column,
.parking-columns .right-column {
  display: table-cell;
  vertical-align: top;
}
.parking-columns .left-column {
  width: 20rem;
}
.parking-columns .right-column {
  padding-left: 3rem;
}


/*
-------------------------------
FOOTER
-------------------------------
*/

#footer {
  background: url('../img/footer-bg.jpg') center bottom;
  background-size: cover;
  color: #fff;
}
#footer .footer-border {
  background: #DBA818;
  padding: 0.25rem 0;
}
.footer-border-inner {
  padding: 1rem 0;
  border-top: 1px solid #F5D884;
  border-bottom: 1px solid #F5D884;
}
.footer-border-inner img {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  opacity: 0.6;
}
#footer .section-content {
  display: table;
  width: 100%;
}
#footer .section-body {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 3;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
   transform: translateZ(1px);
  text-align: center;
}
#footer .social {
  display: inline-block;
}
#footer .social a {
  display: inline-block;
  opacity: 0.8;
  -webkit-transition: opacity 0.15s ease-in;
  -moz-transition: opacity 0.15s ease-in;
   transition: opacity 0.15s ease-in;
}
#footer .social a:hover {
  opacity: 1;
}
#footer .social a:nth-child(1),
#footer .social a:nth-child(2) {
  margin-right: 1rem;
}

#footer .copyright {
  margin-top: 2rem;
  color: #ccc;
}
#footer .copyright i {
  font-size: 0.35em;
  line-height: 1rem;
  vertical-align: middle;
  margin: 0 0.5rem;
}

#footer .diamond-overlay {
  opacity: 0.4;
}
#footer .image-mask {
  background: rgba(0,0,0,0.5);
}