/*
---------------------------------------
NAV
---------------------------------------
*/

@media (max-width: 880px) {
  
  body {
    font-size: 20px;
  }

  .nav-wrapper.visible {
    font-size: 0.9rem;
  }
  .nav-wrapper.visible .nav-links {
    display: table;
    width: 100%;
    padding: 0;
  }
  .nav-wrapper.visible .nav-links .nav-item,
  .nav-wrapper.visible .nav-links .hidden-logo {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
  .nav-wrapper.visible .nav-links .hidden-logo {
    width: 11rem;
    padding: 0 1rem;
    margin: 0;
  }
  .nav-wrapper.visible .nav-links .hidden-logo img {
    top: auto;
    -webkit-transform: none;
    -moz-transform: none;
     transform: none;
  }
  .nav-wrapper .nav-links a {
    font-weight: 700;
  }

}

