/*
=======================================
TABLET
=======================================
*/

/*
---------------------------------------
NAV
---------------------------------------
*/

@media (max-width: 880px) {
  
  body {
    font-size: 20px;
  }

  section .splash {
    height: 18.25rem;
  }

  section .section-content {
    padding: 2rem 3rem;
    font-size: 18px;
  }

  .nav-wrapper.visible {
    font-size: 0.9rem;
  }
  .nav-wrapper.visible .nav-item {
    font-size: 0.9em;
    padding: 0.75rem;
  }
  .nav-wrapper.visible .nav-links {
    display: table;
    width: 100%;
    padding: 0;
  }
  .nav-wrapper.visible .nav-links .nav-item,
  .nav-wrapper.visible .nav-links .hidden-logo {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
  .nav-wrapper.visible .nav-links .hidden-logo {
    width: 10rem;
    padding: 0 1rem;
    margin: 0;
  }
  .nav-wrapper.visible .nav-links .hidden-logo img {
    top: auto;
    -webkit-transform: none;
    -moz-transform: none;
     transform: none;
  }
  .nav-wrapper .nav-links a {
    font-weight: 700;
  }

}

/*
---------------------------------------
INTRO
---------------------------------------
*/

@media (max-width: 880px) {

  .prompt-text {
    top: 0.55em;
  }
  .arrow {
    position:relative;
    top: -0.3em;
  }

}

/*
---------------------------------------
ABOUT
---------------------------------------
*/

@media (max-width: 880px) {

  #about .section-content {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }
  #about .left-column,
  #about .right-column {
    float: none;
    display: block;
  }
  #about .left-column {
    position: absolute;
    width: 8rem;
    -webkit-transform: translateX(-9%);
    -moz-transform: translateX(-9%);
     transform: translateX(-9%);
  }
  #about .right-column {
    padding: 0;
  }
  #about .right-column p:last-child {
    margin-bottom: 0;
  }
  #about .left-column .intro-photo {
    width: 8rem;
    height: 8rem;
  }
  #about .left-column .photo-inset-border {
    top: 0.35rem;
    left: 0.35rem;
    bottom: 0.35rem;
    right: 0.35rem;
  }
  #about .lead-in {
    font-size: 1.35rem;
    padding-left: 8.75rem;
    padding-top: 1.5rem;
    margin-bottom: 2.5rem;
  }

}

/*
---------------------------------------
THE SPACE
---------------------------------------
*/

@media (max-width: 880px) {

  #the-space .left-column,
  #the-space .right-column {
    float: none;
    width: 100%;
  }
  #the-space .left-column {
    margin-bottom: 1rem;
  }
  #the-space .right-column {
    padding-left: 0;
  }

}


/*
---------------------------------------
CONTACT
---------------------------------------
*/

@media (max-width: 880px) {

  #contact .contact-info {
    min-height: 10rem;
  }
  #contact .contact-info .left-column,
  #contact .contact-info .right-column {
    font-size: 0.85em;
  }
  #contact .contact-info .center-column {
    width: 10rem;
  }
  #contact .contact-info .intro-photo {
    width: 10rem;
    height: 10rem;
  }
  #contact .map,
  #contact .directions-text {
    display: block;
    width: 100%;
  }
  #contact .map iframe {
    width: 100%;
  }
  #contact .directions-text {
    margin-top: 2rem;
    padding-left: 0;
  }
  #contact .parking-columns .left-column,
  #contact .parking-columns .right-column {
    display: block;
    width: 100%;
  }
  #contact .left-column {
    position: relative;
  }
  #contact .parking-columns .right-column {
    padding-left: 0;
  }
  #contact .metro {
    padding-right: 13rem;
    min-height: 13rem;
    margin-bottom: 3rem;
  }
  #contact .photo-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 12rem;
  }
  #contact .parking .intro-photo {
    width: 12rem;
    height: 12rem;
    margin-top: 0;
  }
  #contact .parking .photo-inset-border {
    top: 0.35rem;
    bottom: 0.35rem;
    left: 0.35rem;
    right: 0.35rem;
  }
  #contact .street-parking {
    margin-bottom: 2rem;
  }

}


/*
=======================================
MOBILE
=======================================
*/

/*
---------------------------------------
GENERAL
---------------------------------------
*/

@media (max-width: 767px) {

  body,
  section .section-content {
    font-size: 15px;
  }

  section .section-content,
  #about .section-content {
    padding: 1.5rem;
  }

  p {
    margin-bottom: 0.75rem;
  }

  .device .form-flourish img {
    width: 100%;
  }

  section .splash {
    height: 10.5rem;
  }
  .section-header {
    line-height: 7.25rem;
    top: 0.35rem;
    right: 0.35rem;
    bottom: 0.35rem;
    left: 0.35rem;
  }
  .section-header-inner {
    width: 8rem;
    height: 8rem;
  }
  .section-header h2 {
    font-size: 1.15rem;
  }
  .flourish {
    width: 3rem;
  }
  .flourish.top {
    top: 0.25rem;
  }
  .flourish.bottom {
    bottom: 0.25rem;
  }

}

/*
---------------------------------------
HIDDEN STUFF
---------------------------------------
*/

@media (max-width: 767px) {

  #about .left-column,
  #events .photo-container,
  #contact .contact-info .center-column,
  #contact .map,
  #contact .photo-container,
  .nav {
    display: none;
  }

}


/*
---------------------------------------
HIDDEN STUFF
---------------------------------------
*/

@media (max-width: 767px) {

  .mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background: rgba(0,0,0,0.95);
    z-index: 5;
    text-align: center;
  }

  a.nav-expand {
    padding: 0.8rem;
    position: absolute;
    color: #888;
    top: 0;
    left: 0;
    -webkit-transition: color 0.15s ease-in;
    -moz-transition: color 0.15s ease-in;
     transition: color 0.15s ease-in;
  }
  a.nav-expand:hover {
    color: #fff;
  }

  .mobile-nav .hidden-logo {
    opacity: 0;
    display: inline-block;
    width: 8rem;
  }
  .mobile-nav .hidden-logo.visible {
    opacity: 1;
  }
  .mobile-nav .hidden-logo img {
    width: 100%;
  }

}


/*
---------------------------------------
FORM
---------------------------------------
*/

@media (max-width: 767px) {

  .device .form {
    padding: 1.5rem;
  }
  .device .open-device .form {
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
     transform: translateZ(1px);
  }
  .device .close {
    top: 0;
  }
  .device .form h2 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .device .form-flourish {
    padding-bottom: 0.75rem;
  }
  .device .field {
    float: none;
  }
  .device .form-row.two-up .field,
  .device .form-row.two-up.alt .field,
  .device .form-row.three-up .field {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .device .form .label {
    font-size: 0.9rem;
  }
  .device .form .hidden-fields {
    margin-top: 0.75rem;
  }
  .device .form-row.two-up .field:first-child,
  .device .form-row.two-up.alt .field:first-child,
  .device .form-row.three-up .field:nth-child(1),
  .device .form-row.three-up .field:nth-child(2) {
    margin-bottom: 0.75rem;
  }

}


/*
---------------------------------------
INTRO
---------------------------------------
*/

@media (max-width: 767px) {

  .tagline {
    padding: 1.5rem;
    top: 30%;
  }
  .tagline .logo {
    max-width: 100%;
  }

  .device .form-wrapper {
    bottom: 20%;
    padding: 0 1.5rem;
  }

  .prompt-inner {
    width: 2.75rem;
    height: 2.75rem;
  }
  .prompt-inset-border {
    top: 0.15rem;
    bottom: 0.15rem;
    right: 0.15rem;
    left: 0.15rem;
  }
  .prompt-text {
    top: 0.45em;
  }
  
  .hidden-form .form-open-button {
    display: block;
    width: 100%;
    font-size: 0.95rem;
    padding: 0.75rem;
  }
  .hidden-form p {
    max-width: 100%;
    margin-top: 1rem;
  }

}

/*
---------------------------------------
ABOUT
---------------------------------------
*/

@media (max-width: 767px) {

  #about .lead-in {
    padding: 0;
    margin-bottom: 0.75rem;
    font-size: 1.1rem;
  }

}


/*
---------------------------------------
THE SPACE
---------------------------------------
*/

@media (max-width: 767px) {

  #the-space .flourish-inner {
    padding: 1.25rem 0 0.75rem 0;
  }
  #the-space .right-sub-column,
  #the-space .left-sub-column {
    width: 100%;
    float: none;
    padding: 0;
  }
  #the-space .right-sub-column,
  #the-space .left-sub-column {
    margin-top: 1.25rem;
  }
  #the-space .asterisk-content {
    margin-top: 1rem;
  }

}


/*
---------------------------------------
EVENTS
---------------------------------------
*/

@media (max-width: 767px) {

  #events .left-column,
  #events .right-column {
    display: block;
  }
  #events .left-column {
    width: auto;
  }
  #events .right-column {
    margin-top: 1.25rem;
  }
  #events .caterers-row {
    margin-bottom: 1.5rem;
  }
  #events .caterers-row:last-child {
    margin-bottom: 0;
  }
  #events .caterer-logo {
    width: 35%;
    padding-right: 0.75rem;
  }
  #events .caterer-contact-info {
    width: 65%;
    padding-left: 0.75rem;
  }
  #events .caterer-logo img {
    width: 100%;
  }

}


/*
---------------------------------------
GALLERY
---------------------------------------
*/

@media (max-width: 767px) {

  #gallery .section-content {
    min-height: 0;
  }

  .gallery {
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
  }

  .gallery li {
    float: none;
    display: inline-block;
    width: 75%;
  }

}


/*
---------------------------------------
CONTACT
---------------------------------------
*/

@media (max-width: 767px) {

  #contact .contact-info {
  width: 100%;
  }
  #contact .left-column,
  #contact .right-column {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #contact h4 {
    margin-bottom: 0.25rem;
  }
  #contact .title {
    font-size: 1em;
    margin-bottom: 0.5rem;
  }
  #contact .right-column h4 {
    margin-top: 2rem;
  }
  #contact .flourish.directions .flourish-inner {
    padding-top: 2rem;
  }
  #contact h3.section-subhead {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #contact .directions-text {
    margin-top: 0;
  }
  .directions-1,
  .directions-2 {
    float: none;
    width: 100%;
  }
  .directions-2 {
    margin-top: 1.5rem;
  }
  #contact .metro {
    padding-right: 0;
    margin-bottom: 1.5rem;
  }
  #contact .street-parking {
    margin-bottom: 1.5rem;
  }
  #contact .right-column h4 {
    margin-top: 1rem;
  }
  
}


/*
---------------------------------------
FOOTER
---------------------------------------
*/

@media (max-width: 767px) {

  .footer-border-inner img {
    width: 80%;
  }

}